snippet aw asyncWrapper
	asyncWrapper(async (req:any,res:any)=>{
		${1}
	})

snippet rhc reactHookComponent
	import React from "react";

	export default function ${1}(${2}) {
		return <div></div>	
	}
